div[data-component='knowtator'] {
  position: relative;
}

#addNote {
  display: none;
  position: absolute;
  background: #fff;
  margin: 1rem;
  padding: 1rem;
}

#imageContainer {
  width: 90%;
}

#imageContainer > img {
  max-width: 100%;
  cursor: copy;
}